body {
    font-family: 'Roboto', sans-serif;
    background-color: #282c34;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 900px;
    background-color: #1c1f25;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #f0f0f0;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    margin-top: 200px;
    color: #61dafb;
}

main img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.content {
    text-align: left;
}

.content p {
    line-height: 1.7;
    margin-bottom: 20px;
    font-size: 1.1em;
    color: #d6d6d6;
}

.content h2 {
    margin-top: 30px;
    color: #61dafb;
    font-size: 1.8em;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #d6d6d6;
}

ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer {
    margin-top: 30px;
    font-size: 0.9em;
    color: #777;
}
